.about-div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.about-title {
  position: absolute;
  top: -200px;
  left: 40px;
  font-size: 1.8rem;
  font-weight: bold;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-width: 1100px;
  border: 1px #1b3c8a solid;
  background-color: #0f172a;
  border-radius: 32px;
  box-shadow: 2px 2px 10px 2px #3f61b1;
}

.about-left {
  flex: 2;
  min-height: 60vh;
  padding: 1.5rem;
  font-size: x-large;
  white-space: pre-line;
}

.about-right {
  flex: 1;
  min-height: 60vh;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 0;
}

.about-right img {
  height: 70px;
  width: 70px;
}
