.about-div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.about-title {
  position: absolute;
  top: -200px;
  left: 40px;
  font-size: 1.8rem;
  font-weight: bold;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-width: 1100px;
  border: var(--blue-border);
  box-shadow: var(--blue-shadow);
  background-color: var(--main-background-color);
  border-radius: 32px;
}

.about-left {
  display: flex;
  flex-direction: column;
  flex: 2;
  min-height: 60vh;
  padding: 1.5rem;
  font-size: x-large;
  white-space: pre-line;
}

.download-text {
  display: inline-block;
  transition: all 0.3s ease-in-out;
  color: inherit;
}

.download-resume {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  margin-left: 2rem;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  color: white;
  width: 250px;
  height: 80px;
  border-radius: 0px;
  border: 1px solid #4fd1d3;
  background-color: var(--main-background-color);
  transition: all 0.3s ease-in-out;

  &:hover {
    border: var(--blue-border);
    box-shadow: var(--blue-shadow);
    .download-text {
      transform: translateY(-4px);
      text-decoration: none;
    }
    &:any-link {
      color: #3f61b1;
    }
  }
}

.about-right {
  flex: 1;
  min-height: 60vh;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 0;
}

.about-right img {
  height: 70px;
  width: 70px;
}
