.about-div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.about-header {
  display: none;
}

.about-title {
  position: absolute;
  top: -200px;
  left: 40px;
  font-size: 1.8rem;
  font-weight: bold;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-width: 1100px;
  border: var(--blue-border);
  box-shadow: var(--blue-shadow);
  background-color: var(--main-background-color);
  border-radius: 32px;
}

.about-left {
  display: flex;
  flex-direction: column;
  flex: 2;
  min-height: 60vh;
  padding: 1.5rem;
  font-size: x-large;
  white-space: pre-line;
}

.download-text {
  display: inline-block;
  transition: all 0.3s ease-in-out;
  color: inherit;
}

.download-resume {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
  margin-left: 1rem;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  color: white;
  width: 220px;
  height: 60px;
  border-radius: 0px;
  border: 1px solid #4fd1d3;
  background-color: var(--main-background-color);
  transition: all 0.3s ease-in-out;

  &:hover {
    border: var(--blue-border);
    box-shadow: var(--blue-shadow);
    .download-text {
      transform: translateY(-4px) translateX(-3px);
      text-decoration: none;
    }
    &:any-link {
      color: #3f61b1;
    }
  }
}

.about-right {
  flex: 1;
  min-height: 60vh;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 0;
}

.about-right img {
  height: 70px;
  width: 70px;
}

@media (max-width: 768px) {
  .about-content {
    --main-background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 150%;
    max-width: 1100px;
    border: none;
    box-shadow: none;
    background-color: none;
    border-radius: 32px;
    padding-bottom: 20px;
  }

  .about-header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    margin-left: 3rem;
  }

  .about-header h2 {
    color: var(--teal-color);
    align-self: flex-start;
    font-size: 24px;
  }

  .about-paragraph {
    font-size: 1.3rem;
  }

  .download-resume {
    margin: 0;

    &:hover {
      border: var(--blue-border);
      box-shadow: none;
      .download-text {
        transform: translateY(0) translateX(0);
        text-decoration: none;
      }
      &:any-link {
        color: #3f61b1;
      }
    }
  }

  .about-left {
    padding-top: 0rem;
  }

  .about-right {
    display: none !important; /* temporary until slider is figured out*/
    flex: 1;
    min-height: 20vh;
    display: grid;
    place-items: center;
    grid-template-columns: 4fr 2fr 4fr 2fr 4fr;
    column-gap: 0;
  }

  .about-right img {
    height: 55px;
    width: 55px;
  }
}
