.contact-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.contact-title {
  font-size: 1.8rem;
  font-weight: bold;
}

.contact-methods {
  width: 800px;
  height: 600px;
}

.email-form {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
  border: 1px #1b3c8a solid;
  border-radius: 32px;
  background-color: #0f172a;
  box-shadow: 2px 2px 10px 2px #3f61b1;
}

.email-form > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin-bottom: 2rem;
}

.email-form > form > input {
  width: 70%;
  height: 3rem;
  background-color: #0f172a;
  border: 2px solid rgba(255, 255, 255, 0.699);
  padding-left: 0.8rem;
  transition: all 0.2s ease-in-out;

  &:focus {
    outline: none;
    border: 2px solid #00ffff;
    background-color: #0a101d;
  }
}

.email-form > form > textarea {
  width: 70%;
  height: 8rem;
  resize: none;
  background-color: #0f172a;
  border: 2px solid rgba(255, 255, 255, 0.699);
  padding-left: 0.8rem;
  padding-top: 0.5rem;
  transition: all 0.2s ease-in-out;

  &:focus {
    outline: none;
    border: 2px solid #00ffff;
    background-color: #0a101d;
  }
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.linkedin,
.github {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.linkedin-icon,
.github-icon {
  width: 40px;
  height: 40px;
}
