/* Experience card component */
.experience-card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  border-radius: 18px;
  width: auto;
  min-width: 64px;
  height: 42px;
  padding: 0 0.5rem 0 0.5rem;
  margin-bottom: 2rem;
}

.experience-tool-name {
  white-space: nowrap;
  font-size: large;
  font-weight: 500;
  text-align: center;
}

/* Main component */
.experience-div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.experience-title {
  position: absolute;
  top: -8rem;
  left: 40px;
  font-size: 1.8rem;
  font-weight: bold;
}

.experience-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.company-redirect {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.cloud-and-more,
.hennge,
.general-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  gap: 4rem;
  margin-bottom: 6rem;
  text-align: left;
}

.skills-learnt {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  min-width: 250px;
  border: 1px solid rgb(90, 90, 90);
  background-color: rgb(26, 26, 26);
  padding-bottom: 2rem;
  border-radius: 32px;
}

.skills-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.company-information {
  display: flex;
  flex-direction: column;
  flex: 3;
  white-space: pre-line;
  border: 1px solid rgb(90, 90, 90);
  background-color: rgb(26, 26, 26);
  border-radius: 32px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.company-title {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: center;
  font-size: x-large;
}
.company-title h3 {
  font-size: x-large;
  margin: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.year-h2 {
  font-size: x-large;
  text-align: center;
}

.company-p {
  font-size: large;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  margin-top: 1rem;
}

.country-img {
  height: 30px;
  width: 50px;
}
