/* Experience card component */
.experience-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b3753;
  color: #4fd1d3;
  border-radius: 18px;
  width: auto;
  min-width: 64px;
  height: 42px;
  padding: 0 0.5rem 0 0.5rem;
}

.experience-tool-name {
  white-space: nowrap;
  font-size: large;
  font-weight: 500;
  text-align: center;
}

/* Main component */
.experience-div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.experience-header {
  display: none;
}

.experience-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.company-redirect {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.cloud-and-more,
.hennge,
.general-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  gap: 4rem;
  margin-bottom: 6rem;
  text-align: left;
}

.company-information {
  display: flex;
  flex-direction: column;
  flex: 3;
  white-space: pre-line;
  border: var(--blue-border);
  background-color: var(--main-background-color);
  box-shadow: var(--blue-shadow);
  border-radius: 32px;
  padding-left: 2rem;
  padding-right: 2rem;
  transition: all 0.2s ease-in-out;

  &:hover {
    box-shadow: var(--blue-shadow-hover);
    border: var(--blue-border-hover);
  }
}

.company-title {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: center;
  font-size: x-large;
}
.company-title h3 {
  font-size: x-large;
  margin: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.year-h2 {
  font-size: x-large;
  text-align: center;
}

.company-p {
  font-size: 20px;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.country-img {
  height: 30px;
  width: 50px;
}

/* Mobile & tablet*/
@media (max-width: 1024px) {
  /* Experience cards */
  .experience-card {
    min-width: 64px;
    height: 32px;
  }

  .experience-tool-name {
    font-size: 16px;
  }

  /* Rest */
  .experience-div {
    flex-direction: column;
  }

  .experience-header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  .experience-header h2 {
    color: var(--teal-color);
    align-self: flex-start;
    margin-left: 1.5rem;
    font-size: 24px;
  }

  .experience-content {
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .cloud-and-more,
  .hennge,
  .general-data {
    --main-background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 4rem;
    margin-bottom: 6rem;
    text-align: left;
  }

  .year-h2 {
    font-size: 20px;
    font-weight: 500;
    color: var(--grey-text);
  }

  .company-title h3 {
    font-size: 22px;
    font-weight: 600;
  }

  .company-information {
    border: none;
    background-color: none;
    box-shadow: none;
    border-radius: 32px;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: all 0.2s ease-in-out;

    &:hover {
      box-shadow: none;
      border: none;
    }
  }
}
