.projects-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.project-1,
.project-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 4rem;
  margin-bottom: 6rem;
  text-align: left;
}

.project-video {
  height: 500px;
  width: 900px;
}

.stack-used-images {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
}

.stack-used img {
  height: 70px;
  width: 70px;
}
