/* Project card component */
.project-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b3753;
  color: #4fd1d3;
  border-radius: 18px;
  width: auto;
  min-width: 64px;
  height: 42px;
  padding: 0 0.5rem 0 0.5rem;
}

.project-tool-name {
  white-space: nowrap;
  font-size: large;
  font-weight: 500;
  text-align: center;
}

.stack-used {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.projects-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.projects-header {
  display: none;
}

.project-1,
.project-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 4rem;
  margin-bottom: 6rem;
  text-align: left;
}

.project-img {
  height: 500px;
  width: 900px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }
}

.project-title {
  font-size: 26px;
}

.project-description {
  font-size: 20px;
}

/* Mobile & tablet*/
@media (max-width: 1024px) {
  /* Project cards */
  .project-card {
    min-width: 64px;
    height: 32px;
  }

  .project-tool-name {
    font-size: 16px;
  }

  .stack-used {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  /* Rest */
  .projects-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .projects-header {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 1rem;
  }

  .projects-header h2 {
    color: var(--teal-color);
    font-size: 24px;
    align-self: flex-start;
  }

  .project-title,
  .project-title-bottom {
    margin: 0;
    padding: 0;
    font-size: 24px;
  }

  .project-title-bottom {
    margin-top: 3rem;
  }

  .project-1,
  .project-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 0rem;
    margin-bottom: 0rem;
    text-align: left;
  }

  .project-title-and-description {
    order: 1;
  }

  .project-img-div {
    order: 2;
  }

  .project-img {
    height: 200px;
    width: 350px;
    object-fit: cover;
  }

  .stack-used h2 {
    display: none;
  }

  .stack-used-images {
    display: none;
  }
}
