.projects-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.projects-header {
  display: none;
}

.project-1,
.project-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 4rem;
  margin-bottom: 6rem;
  text-align: left;
}

.project-video {
  height: 500px;
  width: 900px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }
}

.project-title {
  font-size: 38px;
}

.project-description {
  font-size: 20px;
}

.stack-used-images {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
}

.stack-used img {
  height: 70px;
  width: 70px;
}

/* Mobile */
@media (max-width: 768px) {
  .projects-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .projects-header {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 1rem;
  }

  .projects-header h2 {
    color: var(--teal-color);
    font-size: 24px;
    align-self: flex-start;
  }

  .project-title,
  .project-title-bottom {
    margin: 0;
    padding: 0;
    font-size: 24px;
  }

  .project-title-bottom {
    margin-top: 3rem;
  }

  .project-1,
  .project-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 0rem;
    margin-bottom: 0rem;
    text-align: left;
  }

  .kana-typer-desc {
    order: 1;
  }

  .project-video-div {
    order: 2;
  }

  .project-video {
    height: 200px;
    width: 350px;
    border: 1px solid red;
    object-fit: cover;
  }

  .stack-used h2 {
    display: none;
  }

  .stack-used-images {
    display: none;
  }
}
