.modal-root-class {
  font-weight: 600;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.modal-header-class {
  background-color: var(--main-background-color);
  position: absolute;
  top: 5px;
  left: 0px;
  right: 0;
  display: flex;
  justify-content: center;
}

.modal-content-class {
  text-align: center;
  background-color: var(--main-background-color);
  border: 1px #1b3c8a solid;
  box-shadow: 2px 2px 10px 2px #3f61b1;
  height: 200px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal-body-class {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 50px;
}

.modal-title-class {
  font-size: 28px;
  font-weight: 600;
  color: var(--teal-color);
}

.language-selection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  height: 100%;
}

.english-btn,
.japanese-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  width: 110px;
  border-radius: 1px;
  border: 1px solid var(--teal-color);
  background-color: var(--main-background-color);
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  text-decoration: none;

  &:hover {
    transform: scale(1.1);
  }
}
