.site-footer {
  padding: 20px 0;
  text-align: center;
  width: 100%;
  background-color: var(--main-background-color);
  border-top: 1px solid rgb(92, 92, 92);
}

.footer-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.linkedin,
.github {
  display: flex;
  align-items: center;
  justify-content: center;
}

.linkedin-icon,
.github-icon {
  width: 40px;
  height: 40px;
  color: rgba(255, 255, 255, 0.541);
  transition: all 0.2s ease-in-out;

  &:hover {
    color: rgba(255, 255, 255, 0.877);
  }
}
