nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 13vh;
  z-index: 10000;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: rgb(24, 24, 24);
  border-bottom: 1px solid rgb(92, 92, 92);
}

.nav-li {
  display: flex;
  gap: 3rem;
}

.nav-btn {
  position: relative;
  font-size: 1.6rem;
  font-weight: 700;
  background: none;
  outline: none;
  border: none;
  margin: 0;
  padding: 0.5rem 0;
  transition: all 0.2s ease-in-out;

  &:hover {
    outline: none;
    color: red;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: red;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 300ms ease-in-out;
  }
}

.nav-btn:hover::after,
.nav-btn.active-link::after {
  transform: scaleX(1);
}

.nav-btn:hover,
.nav-btn.active-link {
  color: red;
}

.language-selector-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  color: black;
  font-weight: 600;
  font-size: 1.5rem;
  width: 142px;
  height: 52px;
  text-align: center;
  border-radius: 32px;
}

/* When the user is on the corresponding part of the webpage */
.active-link {
  font-size: 1.9rem;
  color: red;
}

.navbar-title {
  font-size: 4rem;
  font-weight: bolder;
  background: none;
  outline: none;
  border: none;
  margin: 0;
  padding: 0 0 0 3rem;
  transition: all 0.2s ease-in-out;

  &:hover,
  :focus {
    outline: none;
    border: none;
    color: red;
  }
  &:active {
    transition: 0s;
    transform: scale(0.96);
    color: rgb(255, 116, 24);
  }
}
