nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 13vh;
  z-index: 10000;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: rgb(24, 24, 24);
  border-bottom: 1px solid rgb(92, 92, 92);
}

.nav-li {
  display: flex;
  gap: 3rem;
}

.nav-btn {
  font-size: 2rem;
  font-weight: bolder;
  background: none;
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  transition: all 0.2s ease-in-out;

  &:hover,
  :focus {
    outline: none;
    border: none;
    color: red;
  }
}

/* When the user is on the corresponding part of the webpage */
.active-link {
  color: red;
  font-size: 2.3rem;
}

.navbar-title {
  font-size: 4rem;
  font-weight: bolder;
  background: none;
  outline: none;
  border: none;
  margin: 0;
  padding: 0 0 0 3rem;
  transition: all 0.2s ease-in-out;

  &:hover,
  :focus {
    outline: none;
    border: none;
    color: red;
  }
}
